.modal-content{
    right: -25%;
}

.modal-header {
  background-color: #dc4437;
  height: 40px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
  padding: 0px;
  padding-left: 15px;
}

.modal-body {
  padding: 0px;
}

.modal-row {
  margin: 0px;
}
.close{
float: right;
font-size: 40px;
font-weight: 10;
line-height: 1;
color: #fff;
margin-right: 5px;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);
opacity: 1;
background: #dc4437;
}

mark{
  background:yellow;
  color:black;
}
